.container {
    max-width: 128rem;
    margin: 0 auto;
    padding: 0 2rem;
    margin-top: 5rem;
    font-size: 2rem;
    line-height: 1.4;
    color: var(--preto);
}

.container .titulo {
    font-size: 4.8rem;
    font-family: var(--type-first);
    margin-bottom: 1rem;
}

.container .subtitulo {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: var(--type-first);
}

.container ul {
    margin-top: 1.4rem;
}

.container ul li {
    list-style-position: inside;
    margin-bottom: .6rem;
}

.container ul li a {
    color: var(--preto);
}