.filtroItem {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.filtroNome {
    font-weight: 600;
}

.filtroInfo p:nth-child(2) svg {
    transition: ease-in-out 0.2s;
}

.open svg {
    transform: rotate(180deg);
}

.filtroInfo {
    position: relative;
    display: grid;
    align-content: flex-start;
    gap: 4px;
}

.filtroInfo p:nth-child(2) {
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    justify-self: flex-start;
    align-self: flex-start;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
