.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    width: 100%;
    height: 15rem;
    background-color: var(--preto);
}

.content {
    display: grid;
    justify-items: center;
    gap: 1.6rem;
}

.content svg {
    filter: invert(1)
}

.content p {
    font-family: var(--type-first);
    color: white;
    font-weight: 200;
}