.header {
    display: flex;
    padding: 2rem 2rem 0 2rem;
    max-width: 128rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.navMenu ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navMenu a {
    text-decoration: none;
    color: var(--preto);
    font-size: 2.4rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-family: var(--type-first);
}
