.container {
    display: grid;
    gap: 1rem;
    position: relative;
    z-index: 3;
    margin-top: -6rem;
    
    border: 2px solid var(--preto);
    background-color: var(--branco);
    width: 100%;
    border-radius: 4rem;
    height: 20.4rem;
    
}

.search {
    margin: 0 4rem;
    position: relative;
    padding: 0 8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 2px solid #acacac;
}

.search input {
    padding: 0 1rem;
    border: none;
    height: 6rem;
    flex: 1;
    background-color: transparent;
    font-size: 2rem;
}

.search input::placeholder {
    font-weight: 100;
    font-size: 2rem;
}

.searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--preto);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: none;
}

.filtro {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
