.container {
    position: absolute;
    background-color: var(--preto);
    color: white;
    top: 5rem;
    left: -5rem;
    padding: 2rem;
    width: 24rem;
    display: grid;
    gap: 1rem;
    border-radius: 2rem;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.25);
   
}


.opcoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .6rem;
    font-size: 1.4rem;
    margin-bottom: .2rem;
}

.subtitulo {
    grid-column: 1 / -1 ;
    color: #A1A1A1;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.label {
    display: flex;
    gap: .6rem;
}


.data {
    height: 3.2rem;
    border-radius: .6rem;
    border: none;
    outline: none;
    padding: .2rem .6rem;

}

.botao {
    height: 3.2rem;
    border-radius: .6rem;
    font-size: 1.6rem;
    color: var(--preto);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--branco);
}